.nav-menu {
	&-container {
		display: inline-block;
		background-color: inherit;
	}

	display: none;
	position: absolute;
	margin-left: -5px;
	background-color: inherit;
	flex-direction: column;
	padding-bottom: 1px;
	z-index: 401;

	&-container:hover & {
		display: flex;
		z-index: 402;
	}

	&-container:focus-within & {
		display: flex;
	}
}