#dialog-sign-in .dialog-content {
	text-align: center;
}

#sign-up-link-container {
	margin-top: 1em;
	font-size: 0.85em;
}

#sign-in-field-name {
	width: 100%;
}

#terms-agreed-container {
	font-size: 0.85em;
}
