.labeled-grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-content: start;
	gap: 1ch;

	& > .row {
		text-align: center;
		grid-column: 1 / -1;
		margin: 0 !important;
	}
}