@import 'styles/themes';

.link {
	@include theme(color, $link-color);
	text-decoration: none;

	&:focus, &:hover {
		text-decoration: underline;
	}

	@at-root button#{&} {
		padding: 0;
		background: none;
		border: none;
		font: inherit;
		text-transform: inherit;
		cursor: pointer;
		text-align: left;
	}
}