@use 'lib/styles/themes' as *;

.link {
	text-decoration: underline;
	@include theme(color, link-color);

	&:visited {
		@include theme(color, link-visited-color);
	}

	&:focus, &:active {
		@include theme(color, link-active-color);
	}

	@at-root button#{&} {
		padding: 0;
		background: none;
		border: none;
		font: inherit;
		text-transform: inherit;
		cursor: pointer;
		text-align: left;
	}
}