.link {
	padding: 0;
	background: none;
	border: none;
	font: inherit;
	text-transform: inherit;
	cursor: pointer;
	text-decoration: underline;
	text-align: left;
	
	&:focus:not(:active) {
		color: #ffffff;
	}
}