.flash {
	&-container {
		display: inline-block;
		// Prevent whitespace (e.g. inside the Flash player) from being unintentionally preserved.
		white-space: normal;
		font-size: 1rem;
	}

	position: relative;

	& > * {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&-placeholder {
		box-sizing: border-box;
		border: 1px dashed #808080;
		padding: 2em 1.5em;
		display: flex;
		flex-direction: column;
		text-align: center;
		overflow: hidden auto;

		&-content {
			flex-grow: 1;
		}
	}

	&-content > * {
		width: 100%;
		height: 100%;
	}
}
