.flash {
	&-container {
		display: inline-block;
		font-size: 1rem;
	}

	&-warning {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		overflow: hidden auto;
		padding: 1.5em;
		text-align: center;
		border: 1px solid #808080;
	}

	&-emulation {
		white-space: normal;
	}
}