@use 'lib/styles/themes' as *;

.columns {
	display: flex;

	&:not(:last-child) {
		margin-bottom: 4px;
	}

	@include mobile {
		flex-direction: column;
	}

	@include desktop {
		& > * {
			// Each column is a flexbox so its children fill the entire height of the column.
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			width: 50%;
		}

		& > :not(:first-child) {
			margin-left: 4px;
		}

		& > .section:not(:last-child) {
			margin-bottom: 0;
		}
	}
}