.box-row {
	&-label {
		grid-column: 1;
		align-self: center;
		text-align: right;
	}

	&-content {
		display: flex;
		align-items: center;
		// I added this for a good reason, but I can't remember what the reason is, and it's causing style bugs on the Edit Profile page (and on the Settings page on small screen sizes), so I'm commenting it out, at least for now.
		// overflow: hidden;
	}
}