@use 'sass:meta';

@import 'styles/general';
@import 'styles/themes';

#auth-methods {
	& > :not(:first-child) {
		border-top: 1px solid;
		@include theme(border-top-color, $back, meta.get-function('half-opacity'));
	}

	&-footer {
		padding-top: 1em;
		text-align: center;
	}
}