@import 'styles/general';

.column-grid {
	grid-auto-flow: column;
	grid-auto-columns: 1fr;

	@include mobile {
		grid-auto-flow: row;
	}

	& > .grid {
		grid-template-rows: 0fr;

		&-heading {
			grid-row: 1;

			@include mobile {
				grid-row: auto;
			}
		}

		&-content {
			grid-row: 2;

			@include mobile {
				grid-row: auto;
			}
		}
	}
}