.bb {
	&-toolbar {
		margin-bottom: 2px;
	}

	&-tool-group {
		white-space: nowrap;

		&:not(:last-child) {
			// The spacing must be right margin and not left margin so that wrapped BB tool groups are not indented.
			margin-right: 1ch;
		}
	}

	&-preview {
		margin-top: 2px;
		font-size: 0.875rem;
	}
}