.user-field {
	position: relative;

	&-input {
		position: relative;
	}

	&-auto-complete {
		display: none;
		min-width: 100%;
		position: absolute;
		left: 0;
		margin-top: -2px;
		height: auto;
		padding: 0;
		white-space: nowrap;
		z-index: 1;

		.user-field.open-auto-complete > & {
			display: block;
		}
	}

	&-option {
		display: flex;
		width: 100%;
		padding: 2px 4px 2px 2px;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		align-items: center;

		// Undo the `button` styles.
		text-align: left;
		background: none;
		border: none;
		font: inherit;
		color: inherit;
		user-select: text;

		&:hover, &:focus, &:active {
			.user-field-option-name {
				text-decoration: underline;
			}
		}

		.icon-image {
			width: 2.5em;
			height: 2.5em;
			vertical-align: middle;
			margin-right: 1ch;
		}

		&-id {
			opacity: 0.5;
		}
	}
}