.user-field {
	position: relative;
	// This ensures the auto-complete menu is not excessively wide.
	max-width: fit-content;

	&-input {
		position: relative;
	}

	&-auto-complete {
		display: none;
		min-width: 100%;
		position: absolute;
		left: 0;
		margin-top: -2px;
		height: auto;
		padding: 0;
		white-space: nowrap;
		z-index: 1;

		.user-field.open-auto-complete > & {
			display: block;
		}
	}
}