@import 'styles/general';

$story-page-padding: 25px;

#story-page {
	// `display: table;` conveniently allows the element's width to dynamically increase to fit its contents exactly the way we want it to.
	display: table;
	margin: 7px auto 23px auto;
	padding: 0 $story-page-padding;
	// `box-sizing: border-box;` must not be set here, as an effect hook depends on this element's `min-width` to refer to its content width.
	min-width: 600px;
}

.panel {
	margin: 0 -$story-page-padding;
	max-width: $page-width;
}