#settings {
	.grid-subsection {
		display: grid;
		grid-template-columns: auto auto;
		gap: 1ch;
	}

	label {
		justify-self: right;
		align-self: center;
	}
}

.setting-input {
	justify-self: left;
	align-self: center;
	display: flex;
	align-items: center;
}