#settings {
	&-group-notifications {
		display: flex;
		justify-content: center;
	}

	&-notifications {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 1ch;

		&-heading {
			text-align: center;

			&-email {
				grid-column: 2;
			}

			&-site {
				grid-column: 3;
			}
		}

		.setting-input {
			&, & input {
				width: 100%;
			}
		}
	}
}