@import 'styles/global';

#profile-grid {
	.column-grid {
		grid-template-columns: auto 1fr;

		@include mobile {
			grid-template-columns: auto;
		}
	}

	.grid-row {
		&-section {
			justify-content: center;
			column-gap: 2em;
		}

		&-label {
			text-align: left;
		}
	}
}

.grid-with-single-section {
	grid-template-rows: 0fr auto;
}

#section {
	&-meta, &-description {
		text-align: center;
	}
}