@import 'styles/general';

#profile {
	&-box {
		.box-columns {
			grid-template-columns: auto 1fr;

			@include mobile {
				grid-template-columns: auto;
			}
		}

		.box-row {
			&-section {
				justify-content: center;
				column-gap: 2em;
			}

			&-label {
				text-align: left;
			}
		}
	}

	&-actions {
		font-size: 0.875em;

		& > div:not(:first-child) {
			margin-top: 0.25em;
		}
	}
}