.story-listing {
	&-icon {
		width: 4em !important;
		height: 4em !important;
	}

	&-content {
		text-align: left;
		padding-bottom: 4px;
		overflow: hidden;
	}

	&-title {
		font-size: 1.5em;
		font-family: Homestuck-Regular;
		font-weight: normal;
		margin-bottom: 4px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		.link {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&-status::before {
		content: ' - ';
	}
}