.story-listing {
	&-icon {
		width: 4em !important;
		height: 4em !important;
	}

	&-content {
		text-align: left;
		overflow: hidden;
	}

	&-title {
		display: block;
		font-size: 1.5em;
		font-family: Homestuck-Regular;
		font-weight: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
		max-width: fit-content;

		&:hover {
			text-decoration: underline;
		}
	}

	&-meta {
		margin: 4px 0;
	}

	&-status::before {
		content: ' - ';
	}

	&-description {
		overflow: hidden;
		text-overflow: ellipsis;

		.bbcode {
			white-space: nowrap;
		}
	}
}