@import 'styles/buttons';
@import 'styles/themes';

.button {
	display: inline-block;
	user-select: none;
	font-family: 'Homestuck-Regular';
	font-size: 1.5em;
	font-weight: normal;
	border: none;
	position: relative;
	padding: 1px 8px;
	vertical-align: middle;
	text-decoration: none;
	flex-shrink: 0;
	@include styled-button($front, false, true);

	& + & {
		margin-left: 1ch;
	}

	&:enabled {
		cursor: pointer;
	}

	&:disabled {
		opacity: 0.5;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&.icon {
		width: 18px;
		height: 18px;
		font-size: 1em;
		background-repeat: no-repeat;
		background-position: center;
		@include styled-button($front, false, true, 1);
	}

	&.alt {
		@include styled-button($front-alt, $text-color-alt);
	}

	&.small {
		font-size: 1.25em;
	}
}