.spoiler {
	border: 1px dashed #808080;
	padding: 1px;

	&-heading {
		text-align: center;
		line-height: 0;
	}

	&-content {
		margin: 3px;
		padding: 1em 5%;
	}

	&.closed &-content {
		display: none;
	}
}