@import 'styles/general';
@import 'styles/themes';

.message-list .listing {
	position: relative;
	box-sizing: content-box;
	padding-top: 12px;

	&:not(:last-child) {
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.5);
	}

	&-selected-label {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		height: 4em;
		margin: 0.5em 0.25em 0 -0.75em;
		padding: 0 0.75em;
	}

	&:not(.read) .listing-selected-label::before {
		content: '';
		display: inline-block;
		position: absolute;
		pointer-events: none;
		left: -24px;
		width: 6px;
		height: 4em;
		background-color: #f48e11;
	}

	&:not(.open) .listing-content {
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;

		.bbcode {
			white-space: nowrap;
		}
	}

	&-actions {
		display: none;
		position: absolute;
		right: 0;
		image-rendering: pixelated;
		transform-origin: top right;
		transform: scale(2);

		.button {
			margin-right: 0.25em;
		}
	}

	@include desktop {
		&:hover .listing-actions {
			display: block;
		}
	}
}

.button.mark {
	&-read {
		background-image: url(/images/icons/envelope-open.png); // Image credit: seymour schlong
	}

	&-unread {
		background-image: url(/images/icons/envelope-closed.png); // Image credit: seymour schlong
	}
}