@import 'styles/themes';

.message-list .listing {
	position: relative;

	&:not(:last-child) {
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(128, 128, 128, 0.5);
	}

	&:not(:first-child) {
		padding-top: 1em;
	}

	&:not(.read)::before {
		content: '';
		display: inline-block;
		position: absolute;
		left: -24px;
		top: 0.5em;
		width: 6px;
		height: 4em;
		background-color: #f48e11;
	}

	&-selected-label {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		height: 4em;
		margin: 0.5em 0.25em 0 -0.75em;
		padding: 0 0.75em;
	}

	&:not(.open) .listing-content {
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;

		.bbcode {
			white-space: nowrap;
		}
	}
}