@import 'styles/general';

#story {
	&-icon {
		width: 150px;
		height: 150px;
	}

	&-misc > .box-content {
		row-gap: 1em;
	}

	&-details .row:not(:last-child) {
		margin-bottom: 2em;
	}
}

.label-container.user-array-field-label {
	align-self: start;
}

#code-fields {
	display: flex;

	@include desktop {
		& > * {
			width: 50%;
		}
	}

	& > :not(:first-child) {
		@include desktop {
			margin-left: 24px;
		}

		@include mobile {
			margin-top: 1em;
		}
	}
}

#field-disable-user-theme {
	margin-left: 1ch;
}