.tag-field {
	&-input {
		overflow: hidden auto;
		resize: vertical;
	}

	&-editable {
		min-height: 1em;
		vertical-align: middle;

		// This fixes some display inconsistencies when an editable is an `:only-child`.
		&:only-child:empty {
			display: inline-block;
			vertical-align: baseline;
		}
	}

	&-tag {
		&, &-preset {
			display: inline-block;
			margin: 2px;
			user-select: all;
			cursor: pointer;
			border: 1px solid rgba(128, 128, 128, 0.5);
			vertical-align: middle;
		}

		&-preset.added {
			cursor: default;
			user-select: none;
			opacity: 0.5;

			.tag-field-tag-action {
				// Increase opacity for accessibility, since the parent has decreased opacity.
				opacity: 1;
			}
		}

		&-content {
			display: inline-block;
			padding: 1px 3px;
		}

		&-delimiter {
			// These should be invisible but selectable.
			font-size: 0;

			.tag-field-editable:empty + .tag-field-tag &:first-child,
			&.force-hidden {
				display: none;
			}
		}

		&-action {
			display: inline-block;
			opacity: 0.5;
			color: inherit;
			text-decoration: none;

			&:hover, &:focus, &:active {
				text-decoration: underline;
			}
		}

		&-remove::after {
			content: '(x)';
		}

		&-help::after {
			content: '(?)';
		}
	}

	&-zwnj {
		// Prevent users from unwittingly selecting ZWNJ characters.
		user-select: none;
	}

	&-presets {
		&-container {
			margin-top: 0.5em;
			font-size: 0.875rem;
		}

		border: none;
		background: none;
		padding: 0;
	}
}