.tag-field {
	overflow: hidden auto;

	&-tag {
		&-container {
			display: inline-block;
			margin: 2px 2px;
			user-select: all;
			cursor: pointer;
		}

		display: inline-block;
		padding: 1px 3px;
		border: 1px solid #808080;
	}
}