.labeled-dialog-box {
	display: grid;
	grid-template-columns: 0fr auto;
	gap: 1ch;
	justify-content: center;

	.label-container {
		justify-self: right;
		align-self: center;
		white-space: nowrap;
	}
}