.icon-image {
	object-fit: cover;
	// Prevent the line height from sometimes adding extra space below this.
	vertical-align: bottom;
	width: 150px;
	height: 150px;
	// If this isn't here, a broken image's alt text can overflow the size of the image.
	display: inline-block;
	overflow: hidden;
}