.labeled-icon {
	display: inline-flex;
	vertical-align: middle;

	&::before {
		content: '';
		width: 1em;
		height: 1em;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1em;
		margin-right: 2px;
	}
}