.list {
	display: grid;
	grid-template-columns: 0fr 1fr;
	gap: 1em;
}

.listing {
	&-icon {
		width: 4em;
		height: 4em;
		margin-top: 0.5em;
	}

	&-info {
		text-align: left;
		overflow: hidden;
	}

	&-title {
		display: block;
		font-size: 1.5em;
		font-family: Homestuck-Regular;
		font-weight: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
		// This prevents the bounding box of the link from filling the entire width of the parent.
		max-width: fit-content;

		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}

	&-section {
		margin: 4px 0;
	}

	&-footer {
		font-size: 0.75em;
		opacity: 0.6;

		.link:not(:focus, :active) {
			color: inherit;
		}
	}
}