@use 'lib/styles/themes' as *;

#profile {
	.section-content {
		column-gap: 2em;
	}

	.grid-row-label {
		text-align: left;
	}

	&-info {
		flex-grow: 0;

		@include desktop {
			width: 200px;
		}

		& > .section-content {
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&-status .icon {
		background-image: url(/images/icons/heart-gray.png);

		.user-online & {
			background-image: url(/images/icons/heartbeat.png);
			background-size: auto 1em;
			animation: 700ms steps(1) infinite heartbeat;
			// This is default instead of at 0% in the heartbeat keyframes so it applies when the browser doesn't support CSS animations.
			background-position: 0 0;

			@keyframes heartbeat {
				30% {
					background-position: -1em 0;
				}
			}
		}
	}

	&-actions {
		font-size: 0.875rem;
		padding: 0.25em 0;
	}

	&-description > .section-content {
		font-size: 0.875rem;
	}
}

.profile-action {
	display: block;
	margin-top: 0.25em;
}