.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.chat {
	border: 1px dashed #808080;
	padding: (15em / 14) (25em / 14);
}

.hscroll {
	overflow: auto;
	border: 1px solid transparent;
	padding-right: 5px;
	text-align: left;

	* {
		max-width: none;
	}
}
