@use 'lib/styles/themes' as *;

$comment-icon-size: 3em;
$comment-icon-margin-right: 0.75em;

.comment {
	display: flex;
	position: relative;
	font-size: 0.875rem;

	&-info {
		flex-grow: 1;
	}

	&-icon {
		&-container {
			display: inline-block;
			flex-shrink: 0;
			margin-right: $comment-icon-margin-right;
			width: $comment-icon-size;
			height: $comment-icon-size;
		}

		width: 100%;
		height: 100%;
	}

	&-heading {
		margin-bottom: 0.5em;

		& > :not(:first-child) {
			margin-left: 1ch;
		}

		.timestamp {
			opacity: 0.5;
			font-size: 0.85em;
		}
	}

	&-page-link {
		opacity: 0.75;
		text-decoration: none;
		font-size: 0.85em;

		&:not(:focus):not(:active) {
			color: currentColor;
		}

		&:hover, &:focus, &:active {
			text-decoration: underline;
		}

		&::before {
			content: '(on page ';
		}

		&::after {
			content: ')';
		}
	}

	&-options-container {
		position: absolute;
		top: -2px;
		right: 0;
		vertical-align: middle;

		@include desktop {
			.comment:not(:hover) & {
				display: none;
			}
		}
	}

	&-actions {
		margin-top: 0.75em;
		font-size: 0.85em;

		& > * {
			vertical-align: middle;
		}

		& > :not(:first-child) {
			margin-left: 1em;
		}
	}

	&-action {
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 0.75;
		}

		&.active, &:focus, &:active {
			opacity: 1;
		}
	}

	&-ratings {
		font-size: 0.875rem;

		& > :not(:first-child) {
			margin-left: 1ch;
		}
	}

	&-rating-button {
		// Undo the `button` styles.
		padding: 0;
		text-align: left;
		background: none;
		border: none;
		font: inherit;
		color: inherit;

		.icon {
			vertical-align: text-top;
		}
	}

	&-reply-form {
		margin-top: 0.75em;

		&:not(:last-child) {
			margin-bottom: 0.75em;
		}

		&-actions {
			margin-top: 2px;
		}
	}
}

.like-button {
	.icon {
		background-image: url(/images/icons/like-gray.png); // Image credit: seymour schlong
	}

	&.active .icon {
		background-image: url(/images/icons/like.png); // Image credit: seymour schlong
	}
}

.dislike-button {
	.icon {
		background-image: url(/images/icons/dislike-gray.png); // Image credit: seymour schlong
	}

	&.active .icon {
		background-image: url(/images/icons/dislike.png); // Image credit: seymour schlong
	}
}