.setting {
	&-input {
		justify-self: left;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-label {
		grid-column: 1;
		align-self: center;
		text-align: right;

		&::after {
			content: ':';
		}
	}
}