@import 'styles/general';

#legal {
	display: flex;
	padding: 4px 1ch;
	font-size: 12px;
	justify-content: space-between;
	flex-direction: row-reverse;

	@include mobile {
		flex-direction: column;
		text-align: center;
	}

	.link {
		white-space: nowrap;
	}
}