@use 'styles/general' as *;

footer .mspface-container {
	margin: 4px 0;
}

#copyright {
	padding: 0.4em 1.6em;
	line-height: 1.6em;
	font-size: x-small;
	font-family: $sans-serif;
	text-align: center;
}