.story-comment {
	&-form {
		.bb {
			&-tool {
				&, &-separator {
					display: none;
				}

				&-b, &-i, &-u, &-s, &-url, &-spoiler, &-img {
					display: inline-block;
				}
			}

			&-preview {
				display: none;
			}
		}

		&-actions {
			margin-top: 2px;
		}
	}

	&-option {
		font-size: 0.875rem;
	}
}

.story-comments > .comment {
	margin: 2em 0;

	&:first-child {
		margin-top: 1.5em;
	}
}
