.story-comment {
	&-form {
		.bb-tool-group-font-secondary,
		.bb-tool-group-align,
		.bb-tool-chat,
		.bb-tool-alt,
		.bb-tool-video,
		.bb-tool-iframe,
		.bb-tool-flash,
		.bb-preview {
			display: none;
		}

		.bb-tool-group:not(:last-child) {
			margin-right: 0;
		}

		&-actions {
			margin-top: 2px;
		}
	}

	&-option {
		font-size: 0.875rem;
	}
}

.story-comments > .comment {
	margin: 2em 0;

	&:first-child {
		margin-top: 1.5em;
	}
}