#editor-options {
	text-align: center;
}

#story-page {
	&-sections {
		padding: 0 32px;

		& > :not(:last-child) {
			margin-bottom: 1em;
		}
	}

	&-actions {
		text-align: center;
	}
}

.story-page-view-actions {
	text-align: center;
}