@import 'styles/themes';

#story-editor {
	&-options {
		text-align: center;
	}

	&-pages {
		padding: 0 32px;

		&.view-mode-list > * {
			margin-bottom: 24px;
		}
	}

	&-actions {
		text-align: center;
		margin: 24px 0;
	}
}

.story-editor {
	&-view-actions {
		text-align: center;
	}

	&-page {
		&.published > .box-heading {
			background-color: #008407;
		}

		&.scheduled > .box-heading {
			background-color: #cc7600;
		}
	}

	.view-mode-grid &-page {
		&.box-section {
			display: inline-flex;
		}

		margin: 0.5ch;
		overflow: hidden;
		width: 85px;
		height: 85px;
		font-size: 0.875em;

		& > .box {
			&-heading {
				text-align: left;
				margin-bottom: 0;

				&::before {
					content: 'p';
				}
			}

			&-content {
				padding: 0.75ch;
				hyphens: auto;
			}
		}
	}
}