#story-editor {
	&-options {
		text-align: center;
	}

	&-pages {
		padding: 0 32px;

		& > * {
			margin-bottom: 24px;
		}
	}

	&-actions {
		text-align: center;
		margin: 24px 0;
	}
}

.story-editor-view-actions {
	text-align: center;
}

.page-field {
	&.single-line {
		display: flex;
		align-items: center;

		input {
			flex-grow: 1;
		}
	}

	&:not(:first-child) {
		margin-top: 1em;
	}
}