@use 'sass:map';
@use 'lib/styles/themes' as *;

#basement {
	display: flex;
	align-items: flex-start;

	@include mobile {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.basement {
	&-section {
		// Use the standard theme's `front-color` as the default in case the browser doesn't support CSS variables.
		border: 7px solid map.get($standard-theme, front-color);
		border-color: var(--front-color);
		padding: 7px;
		min-height: 650px;

		&.mid {
			flex-shrink: 0;

			&:first-child {
				@include desktop {
					border-left: none;
				}

				@include mobile {
					border-bottom: none;
				}
			}

			&:last-child {
				@include desktop {
					border-right: none;
				}

				@include mobile {
					border-top: none;
				}
			}
		}

		&.front {
			flex-grow: 1;

			@include mobile {
				// Stretch to fill the width of the screen on mobile.
				align-self: stretch;
			}
		}

		&:not(:first-child) {
			@include desktop {
				margin-left: 12px;
			}

			@include mobile {
				margin-bottom: 12px;
			}
		}

		&-heading {
			text-align: center;
			@include theme(font, heading-font);
			font-weight: bold;
			font-size: 2em;
			text-transform: uppercase;
		}

		.story-log {
			margin: 1em 0;
			padding: 2px;

			&-listing {
				display: flex;

				& > .link {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					.bb {
						// Disable text wrapping so that `text-overflow: ellipsis` works.
						white-space: nowrap;
					}

					img {
						max-width: calc(100% - 2ch);
						max-height: 2em;
					}
				}
			}

			&-timestamp-container {
				flex-shrink: 0;
			}
		}
	}

	&-actions {
		text-align: center;
	}
}