$variables-only: false !default;

$space-between-sections: 4px;

@if not $variables-only {
	.section {
		display: flex;
		flex-direction: column;
		// This can be useful when the section's parent has fixed height.
		flex-grow: 1;

		&:not(:last-child) {
			margin-bottom: $space-between-sections;
		}

		&-heading {
			text-align: center;
			padding: 0.25em 0.5em;
			margin-bottom: $space-between-sections;

			details.section:not([open]) > & {
				margin-bottom: 0;
			}
		}

		&-content {
			flex-grow: 1;
			padding: 24px;
		}
	}
}