.story-editor {
	&-page {
		&-section {
			&:not(.saved) > .box-heading::after {
				content: '*';
			}

			&.published > .box-heading {
				background-color: #008407;
			}

			&.scheduled > .box-heading {
				background-color: #cc7600;
			}
		}

		&-actions {
			text-align: right;
		}
	}

	&-next-page {
		&-container > *::before {
			content: '>';
			margin-right: 1ch;
		}

		margin-bottom: 2px;

		&-input {
			width: 8ch;
		}
	}
}

.page-field {
	&-container-title input {
		width: 100%;
	}

	&-columns {
		display: flex;
    	align-items: flex-start;

		& > * {
			width: 50%;
		}

		& > :last-child {
			margin-left: 24px;
			justify-content: right;
		}
	}
}