.page-field {
	&.single-line {
		display: flex;
		align-items: center;

		input {
			flex-grow: 1;
		}
	}

	&:not(:first-child) {
		margin-top: 1em;
	}
}

.story-editor {
	&-page {
		& > .box-heading::after {
			margin-left: 1ch;
		}

		&.draft > .box-heading::after {
			content: '(Unsaved Draft)';
		}

		&.published > .box-heading {
			background-color: #008407;

			&::after {
				content: '(Published)';
			}
		}

		&.scheduled > .box-heading {
			background-color: #cc7600;

			&::after {
				content: '(Scheduled)';
			}
		}
	}

	&-next-page {
		margin-bottom: 2px;

		label::before {
			content: '>';
			margin-right: 1ch;
		}

		&-input {
			width: 8ch;
		}
	}
}