.story-editor {
	&-page {
		&:not(.saved) > .box-heading::after {
			content: '*';
		}

		&.published > .box-heading {
			background-color: #008407;
		}

		&.scheduled > .box-heading {
			background-color: #cc7600;
		}
	}

	&-next-page {
		margin-bottom: 2px;

		label::before {
			content: '>';
			margin-right: 1ch;
		}

		&-input {
			width: 8ch;
		}
	}
}

.page-field {
	&:not(:last-child) {
		margin-bottom: 1em;
	}

	&-title input {
		width: 100%;
	}
}