@use 'sass:math';
@use 'sass:map';
@use 'styles/general' as *;
@use 'styles/themes' as *;

#basement {
	display: flex;
	align-items: flex-start;

	&-actions {
		text-align: center;
	}

	&-sidebar {
		width: 262px;

		&-content {
			text-align: center;
			margin: 1em 0;
			font-size: 0.875em;

			* {
				max-width: 100%;
			}
		}
	}

	&-wealth-dungeon {
		width: 196px;
	}
}

.basement-section {
	box-sizing: border-box;
	// Use the standard theme's `front-color` as the default in case the browser doesn't support CSS variables.
	border: 7px solid map.get($standard-theme, front-color);
	border-color: var(--front-color);
	padding: 7px;

	&.mid {
		flex-shrink: 0;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	&.front {
		flex-grow: 1;
	}

	&:not(:first-child) {
		margin-left: 12px;
	}
}

#latest-pages {
	&-heading {
		text-align: center;
		font-size: 2em;
		font-family: Homestuck-Regular;
		text-transform: uppercase;
	}

	font-family: $sans-serif;
	font-size: math.div(10, 16) * 1em;
	margin: 1em 0;
	padding: 2px;
}

.latest-pages-listing {
	& > .link {
		&::before, &::after {
			content: '"';
		}
	}
}