#sign-in {
	&-content {
		text-align: center;
	}

	.theme-dark &-methods-external {
		opacity: 0.85;
	}

	&-name {
		width: 100%;
	}
}

#sign-up {
	&-link-container {
		margin-top: 2em;
		font-size: 0.85em;
	}

	&-email-taken {
		grid-column: 2;
		position: relative;
		top: -0.5ch;
		font-size: 0.75rem;
		text-align: center;
	}
}

#terms-agreed-container {
	font-size: 0.85em;
}