@use 'styles/general' as *;

nav {
	display: flex;
	justify-content: center;
	font-family: $sans-serif;
	font-size: 9px;
	line-height: 20px;
	text-transform: uppercase;
	flex-wrap: wrap;
	background-color: #000000;
	z-index: 400;
	padding: 0 1ch;
	color: #bbbbbb;

	&.sticky {
		position: sticky;
		top: 0;
	}

	.divider {
		height: 1px;
		background-color: rgba(128, 128, 128, 0.5);
		margin: 1px 0;
	}
}

$nav-group-colors: (
	primary: #ffffff,
	secondary: #29ff4a,
	story: #39d5f6,
	external: #f7f72a,
	boring: #ffb529
);

#nav-group {
	@each $id, $color in $nav-group-colors {
		&-#{$id} .nav-item {
			color: $color;
		}
	}
}

.nav {
	&-group {
		background-color: inherit;

		&:not(:first-child)::before {
			content: '';
			display: inline-block;
			width: 16px;
			height: 100%;
			background-image: url(/images/candy-heart.png);
			background-repeat: no-repeat;
			background-position: center;
			vertical-align: bottom;
			padding: 0 8px;
		}
	}

	&-menu {
		&-container {
			display: inline-block;
			background-color: inherit;
		}

		display: none;
		position: absolute;
		margin-left: -5px;
		background-color: inherit;
		flex-direction: column;
		padding-bottom: 1px;
		z-index: 401;

		&-container:hover & {
			display: flex;
			z-index: 402;
		}

		&-container.force-open & {
			display: flex;
		}
	}

	&-item {
		display: inline-block;
		position: relative;

		&:focus {
			color: #b0b0b0 !important;
		}

		.nav-menu & {
			display: flex;
			padding: 0 10px 0 5px;

			&:hover {
				background-color: rgba(128, 128, 128, 0.5);
			}
		}
	}
}

.bubble {
	display: inline-block;
	position: absolute;
	line-height: 14px;
	padding: 0 3px;
	color: #ffffff;
	background-color: #ff0000;
	border: 1px solid #ffffff;

	// Select bubbles on nav menu labels.
	.nav-menu-container > .nav-item > & {
		left: calc(100% - 3px);
		bottom: calc(100% - 3px);
	}

	// Select bubbles on labels of open nav menus.
	.nav-menu-container:hover > .nav-item > &,
	.nav-menu-container.force-open > .nav-item > & {
		display: none;
	}

	// Select bubbles on labels in nav menus.
	.nav-menu & {
		align-self: center;
		left: calc(100% - 5px);
	}
}