@import 'styles/variables';

$nav-height: 20px;

nav {
	display: flex;
	justify-content: center;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 9px;
	height: $nav-height;
	line-height: $nav-height;
	text-transform: uppercase;
	background-color: #000000;
	
	.stick {
		color: #bbbbbb;
	}
	
	.separator {
		height: 1px;
		background-color: rgba(128, 128, 128, 0.5);
		margin: 1px 0;
	}
}

$nav-group-colors: (
	primary: #39d5f6,
	secondary: #29ff4a,
	comic: #f7f72a,
	more: #ffb529
);

#nav-group {
	@each $id, $color in $nav-group-colors {
		&-#{$id} .link {
			color: $color;
			
			&:focus {
				color: #ffffff;
			}
		}
	}
}

.nav {
	&-group {
		background-color: inherit;
		
		&::before {
			display: inline-block;
			width: 16px;
			height: 100%;
			vertical-align: bottom;
			padding: 0 6px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(/images/candy-heart.png);
		}
		
		& + &::before {
			content: '';
		}
	}
	
	&-menu {
		&-container {
			display: inline-block;
			background-color: inherit;
		}
		
		display: none;
		position: absolute;
		margin-left: -5px;
		background-color: inherit;
		flex-direction: column;
		
		&:hover, .nav-item:hover + & {
			z-index: 1;
			display: flex;
		}
		
		&.force-open, .nav-item:focus + & {
			display: flex;
		}
		
		.nav-item {
			padding: 0 10px 0 5px;
			
			&:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}
		}
	}
	
	&-item {
		display: inline-block;
	}
}