@use 'sass:math';
@use 'lib/styles/themes' as *;

.story-log {
	@include theme(font, alt-font);
	font-size: math.div(10, 16) * 1rem;

	&-timestamp-container::after {
		content: ' - ';
		white-space: pre;
	}

	&-listing > .link {
		&::before, &::after {
			content: '"';
		}
	}
}