@use 'lib/styles/themes' as *;

.story-log {
	@include theme(font, alt-font);
	font-size: (10rem / 16);

	&-timestamp-container::after {
		content: ' - ';
		white-space: pre;
	}

	&-listing > .link {
		&::before, &::after {
			content: '"';
		}
	}
}
