@use 'sass:math';
@use 'styles/general' as *;

.story-log {
	font-family: $sans-serif;
	font-size: math.div(10, 16) * 1em;

	&-timestamp-container::after {
		content: ' - ';
		white-space: pre;
	}

	&-listing > .link {
		&::before, &::after {
			content: '"';
		}
	}
}