@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';
@use 'sass:color';
@use 'sass:list';

@import 'styles/themes';

// Offsets the RGB values by `$offset`.
@function adjust-color($color, $offset) {
	@return color.adjust(
		$color,
		$red: $offset, $green: $offset, $blue: $offset
	);
}

@function elevation-color($color, $lightness: -33%) {
	@return color.scale($color, $lightness: $lightness);
}

@function elevation($color, $scale: 2, $depth: 2, $lightness: -33%) {
	$box-shadow: ();
	@for $offset from 1 through $depth {
		$box-shadow: list.append(
			$box-shadow,
			#{$scale * $offset}px #{$scale * $offset}px 0 0 elevation-color($color, $lightness),
			$separator: comma
		);
	}
	@return $box-shadow;
}

// Applies a pixelated shadow which gives the element 3D depth. Lowers the depth on `:active`.
@mixin elevation(
	$colors,
	$scale: 2,
	$depth: 2,
	$depth-active: math.div($depth, 2),
	$border: false
) {
	$margin: $scale * $depth;
	$offset-active: $scale * ($depth - $depth-active);

	margin-right: #{$margin}px;
	margin-bottom: #{$margin}px;
	@include theme(box-shadow, $colors, meta.get-function('elevation'), $scale, $depth);

	&:active {
		left: #{$offset-active}px;
		top: #{$offset-active}px;
		@include theme(box-shadow, $colors, meta.get-function('elevation'), $scale, $depth-active);

		&::after {
			// Prevent the button's bounding box from moving when active.
			left: -#{$offset-active}px;
			top: -#{$offset-active}px;
		}
	}

	&::after {
		$padding: $margin;

		@if $border {
			margin-left: -1px;
			margin-top: -1px;

			$padding: $padding + 2;
		}

		// Ensure the button's shadow is part of its bounding box.
		padding-right: #{$padding}px;
		padding-bottom: #{$padding}px;
	}
}

@function styled-button-border($color) {
	@return 1px solid elevation-color($color);
}

// Applies styles to color and add depth to a `button` element.
@mixin styled-button(
	// A color value or a map of themes to color values for the color of the button.
	$colors,
	// Optional override for the default button text color.
	$button-text-color: false,
	// Whether `$colors` represents the color behind the button and not the color of the button.
	$color-is-behind-button: false,
	$scale: 2,
	$depth: 2,
	$depth-active: math.div($depth, 2),
	$border: false
) {
	@if type-of($colors) != 'map' {
		$colors: (standard: $colors);
	}

	@if $button-text-color == false {
		$button-text-color: $translucent-text-color;
	}

	@if type-of($button-text-color) != 'map' {
		$button-text-color: (standard: $button-text-color);
	}

	@if $color-is-behind-button {
		@each $theme, $color in $colors {
			$colors: map.set($colors, $theme, adjust-color($color, -12));
		}
	}

	@include theme(background-color, $colors);
	@include theme(color, $button-text-color);
	@include elevation($colors, $scale, $depth, $depth-active, $border);

	@if $border {
		@include theme(border, $colors, meta.get-function('styled-button-border'));
	}

	&:focus:not(:active) {
		@include theme(background-color, $colors, meta.get-function('adjust-color'), 28);
	}
}