@use 'styles/themes' as *;

// Applies styles to color a button.
@mixin button-color(
	// A color value or theme property name for the background color of the button.
	$background-color: false,
	// A color value or theme property name for the text color of the button.
	$color: false
) {
	@if $background-color {
		@if type-of($background-color) == 'color' {
			background-color: $background-color;
		} @else {
			@include theme(background-color, $background-color);
		}

		&::before {
			// Set the base color of the button's 3D depth effect.
			@if type-of($background-color) == 'color' {
				color: $background-color;
			} @else {
				@include theme(color, $background-color);
			}
		}
	}

	@if $color {
		@if type-of($color) == 'color' {
			color: $color;
		} @else {
			@include theme(color, $color);
		}
	}
}