@import 'styles/variables';
@import 'styles/themes';
@import 'styles/buttons';
@import 'styles/text-inputs';

@font-face {
	font-family: 'Homestuck-Regular';
	src: url(/fonts/Homestuck-Regular/index.eot);
	src: url(/fonts/Homestuck-Regular/index.eot?#iefix) format('embedded-opentype'),
		url(/fonts/Homestuck-Regular/index.woff2) format('woff2'),
		url(/fonts/Homestuck-Regular/index.woff) format('woff'),
		url(/fonts/Homestuck-Regular/index.ttf) format('truetype'),
		url(/fonts/Homestuck-Regular/index.svg#Homestuck-Regular) format('svg');
	font-weight: normal;
	font-style: normal;
}

:focus {
	outline: none;
}

body {
	margin: 0;
	overflow-y: scroll; // To make the scrollbar not change visibility and offset the page horizontally when changing the page height e.g. by toggling tall spoilers on a short page.
	@include theme(background-color, $back-background);
	@include theme(color, $text-color);
	font-family: $monospace;
	font-size: 0.75em; // We are using ems so the browser's font scale is multiplied. The default scale is 1em = 16px.
	font-weight: bold;
	
	@media screen and (max-width: 950px) {
		font-size: 1.1em;
	}
}