@use 'sass:meta';
@use 'sass:list';
@use 'sass:color';

@import 'themes.scss';

@font-face {
	font-family: 'Homestuck-Regular';
	src: url(/fonts/Homestuck-Regular/index.eot);
	src: url(/fonts/Homestuck-Regular/index.eot?#iefix) format('embedded-opentype'),
		url(/fonts/Homestuck-Regular/index.woff2) format('woff2'),
		url(/fonts/Homestuck-Regular/index.woff) format('woff'),
		url(/fonts/Homestuck-Regular/index.ttf) format('truetype'),
		url(/fonts/Homestuck-Regular/index.svg#Homestuck-Regular) format('svg');
	font-weight: normal;
	font-style: normal;
}

:focus {
	outline: none;
}

body {
	margin: 0;
	overflow-y: scroll; // To make the scrollbar not change visibility and offset the page horizontally when changing the page height e.g. by toggling tall spoilers on a short page.
	@include theme(background-color, $back-background);
	@include theme(color, $text-color);
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 0.75em; // We are using ems so the browser's font scale is multiplied. The default scale is 1em = 16px.
	
	@media screen and (max-width: 950px) {
		font-size: 1.1em;
	}
}

button:not(.link) {
	user-select: none;
	font-family: 'Homestuck-Regular';
	font-size: 1.5rem;
	border: none;
	position: relative;
	
	@function lighten($color) {
		@return color.adjust(
			$color,
			$red: 16, $green: 16, $blue: 16
		);
	}
	@include theme(background-color, $front-background, meta.get-function('lighten'));
	@include theme(color, $translucent-text-color);
	
	@function depth-shadow($color, $depth: 2, $scale: 2) {
		$box-shadow: ();
		@for $offset from 1 through $depth {
			$box-shadow: list.append(
				$box-shadow,
				#{$scale * $offset}px #{$scale * $offset}px 0 0 color.scale($color, $lightness: -20%),
				$separator: comma
			);
		}
		@return $box-shadow;
	}
	@include theme(box-shadow, $mid-background, meta.get-function('depth-shadow'));
	
	&:focus:not(:active) {
		text-decoration: underline;
	}
	
	&:active {
		left: 2px;
		top: 2px;
		
		@include theme(box-shadow, $mid-background, meta.get-function('depth-shadow'), 1);
	}
}

.align {
	&-center {
		text-align: left;
	}
	
	&-center {
		text-align: center;
	}
	
	&-right {
		text-align: right;
	}
	
	&-justify {
		text-align: justify;
	}
}