@import 'styles/general';
@import 'styles/themes';

.input-like, input, textarea, select, option {
	font-size: 0.8333rem;
	@include theme(background-color, $frontest);
}

.input-like, input, textarea, select {
	box-sizing: border-box;
	border-radius: 0;
	border: 2px solid;
	@include theme(border-color, $border-color);

	&:focus {
		@include theme(border-color, $focused-border-color);
	}
}

.input-like, input, textarea {
	padding: 0.15em;
}

input, textarea, select {
	&:disabled {
		opacity: 0.7;
		cursor: default;
	}
}

input, select {
	height: calc(1.425em + 4px);
	vertical-align: middle;
}

input[type=checkbox] {
	appearance: none;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 3px;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	font-size: 13px;

	&:checked::before {
		content: '✔';
		pointer-events: none;

		@supports (mask: none) {
			width: 100%;
			height: 100%;
			background-color: currentColor;
			mask-image: url(/images/checkmark.svg);
			mask-repeat: no-repeat;
			mask-position: center;
			pointer-events: none;
		}
	}
}

textarea {
	resize: vertical;
	width: 100%;
	vertical-align: bottom;
}

select {
	cursor: pointer;

	&:invalid {
		// `select` elements are generally only `:invalid` if a disabled option is selected, so this is effectively the `placeholder` attribute color, because `select`s don't have `placeholder`s.
		// This color code matches Chrome's default.
		color: #757575;
	}
}

label {
	cursor: pointer;
}