@import 'styles/variables';
@import 'styles/themes';

input, textarea, select, option {
	@include theme(background-color, $frontest-background);
}

input, textarea, select {
	border-radius: 0;
	border: 2px solid;
	@include theme(border-color, $border-color);

	&:focus {
		@include theme(border-color, $focused-border-color);
	}
}

input, textarea {
	padding: 2px;
}

select {
	// For some reason `select` elements are larger than `input` elements by default. This fixes it. Not sure if this is the best way to do it though.
	padding: 1px;

	&:invalid {
		// `select` elements are generally only `:invalid` if a disabled option is selected, so this is effectively the `placeholder` attribute color, except `select`s don't have `placeholder`s.
		// This color code matches Chrome's default.
		color: #757575;
	}
}

// This is to stop the browser from changing the font of the `input` while hovering over autocomplete options.
input:-webkit-autofill::first-line {
	font-family: $monospace;
	font-weight: bold;
}

label {
	cursor: default;
}