@import 'styles/variables';
@import 'styles/themes';

input {
	&, textarea {
		padding: 2px;
		font-family: $monospace;
		font-weight: bold;
		@include theme(color, $text-color);
		@include theme(background-color, $frontest-background);
		border: 2px solid;
		@include theme(border-color, $border-color);
		
		&:focus {
			@include theme(border-color, $focused-border-color);
		}
	}
	
	// This is to stop the browser from changing the font of the `input` while hovering over autocomplete options.
	&:-webkit-autofill::first-line {
		font-family: $monospace;
		font-weight: bold;
	}
}