@use "sass:meta";
@use "sass:map";
@use "sass:color";

// Used as a useless default for the `theme` mixin, so that no extra check is necessary for whether the `$function` parameter is set.
@function return-value($value) {
	@return $value;
}

// Lets you set a CSS property which varies in value dependent on the user's theme.
@mixin theme(
	// The property to set. Example: `background-color`
	$property,
	// The map of theme IDs to values to apply. Example: `(standard: #ff0000)`
	$values,
	// An optional function to apply to each value in `$values`, called with arguments `$value, $args...`.
	$function: meta.get-function('return-value'),
	$args...
) {
	#{$property}: meta.call($function, map-get($values, standard), $args...);
	@each $theme, $value in map-remove($values, standard) {
		.theme-#{$theme} & {
			#{$property}: meta.call($function, $value, $args...);
		}
	}
}

$text-color: (
	standard: #000000,
	dark: #e4e4e4
);

$text-color-alt: (
	standard: #f2f2f2,
	dark: #f2f2f2
);

$back: (
	standard: #535353,
	dark: #141414
);

$mid: (
	standard: #c6c6c6,
	dark: #202020
);

$front: (
	standard: #eeeeee,
	dark: #323232
);

$front-alt: (
	standard: #696969,
	dark: #696969
);

$frontest: (
	standard: #ffffff,
	dark: #1a1a1a
);

$border-color: (
	standard: #8d8d8d,
	dark: #545454
);

$focused-border-color: (
	standard: #000000,
	dark: #b0b0b0
);

$link-color: (
	standard: #0000ee,
	dark: #3db8ff
);

$visited-link-color: (
	standard: #551a8b,
	dark: #bf7cff
);

$active-link-color: (
	standard: #ee0000,
	dark: #ee3333
);

$translucent-text-color: ();
@each $theme, $color in $text-color {
	$translucent-text-color: map.set($translucent-text-color, $theme, color.scale($color, $alpha: -30%));
}