body {
	margin: 0;
	overflow-y: scroll;
	background-color: #535353;
	font-size: 12px;
	font-family: courier, monospace;
	color: #000000;
}
.hidden {
	display: none;
}
#app {
	width: 940px;
	margin: 0 auto;
	padding: 0 5px 5px 5px;
	background-color: #c6c6c6;
}
.umContainer {
	height: 102px;
}
.mspface {
	float: left;
	width: 208px;
	height: 102px;
	border-right: 4px solid #b8b8b8;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #eeeeee;
}
header .mspface {
	background-image: url(/images/VorkedLarfleeze.gif);
}
.um {
	float: right;
	width: 728px;
	height: 100%;
	border: none;
	background-size: 100% 100%;
}
#flashyTitle {
	display: block;
	height: 68px;
	background-position: center 0;
	background-repeat: no-repeat;
	background-image: url(/images/title/);
	background-color: #eeeeee;
}
nav {
	height: 15px;
	padding: 2px;
	background-color: #2d2d2d;
	text-align: center;
	text-transform: uppercase;
	font-size: x-small;
	font-weight: bold;
	font-family: arial;
	color: #ffffff;
}
nav * {
	vertical-align: middle;
}
nav .groupSeparator {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 6px;
	background-image: url(/images/candyheart.png);
	background-repeat: no-repeat;
}
nav .group1 {
	color: #ffffff;
}
nav .group2 {
	color: #29ff4a;
}
nav .group3 {
	color: #76d8ff;
}
nav .group4 {
	color: #fffa36;
}
nav .group5 {
	color: #ffbc3e;
}
.alert {
	margin-top: 4px;
	padding: 8px;
	background-color: #ff9800;
	color: #ffffff;
	text-shadow: 0px 1px 3px black;
	font-size: 14px;
	font-family: arial;
}
.alert a:link, .alert a:active, .alert a:visited {
	color: #ffffff;
}
footer {
	display: flex;
}
footer .mspface {
	background-image: url(/images/footer/);
}
#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	background-position: right 8px bottom 8px;
	background-repeat: no-repeat;
	background-image: url(/images/loading.gif);
	transition: opacity 0.25s linear;
}
#loading.visible {
	opacity: 0.5;
}
